<div id="baus">
  <p id="gameTitle">Golden&#43;EYE</p>
  <div class="edition"><span class="gameEdition">Survival Edition</span> <span id="gameSubtitle">007&#42;</span></div>
</div>
<div class="levelSelection" ng-if="inGame && map === null">
  <div class="wrapper">
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('dam')" class="center_box dam"><span class="box-subtitle">DAM</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('facility')" class="center_box facility"><span class="box-subtitle">FACILITY</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('runway')" class="center_box runway"><span class="box-subtitle">RUNWAY</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('surface')" class="center_box surface"><span class="box-subtitle">SURFACE</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('bunker')" class="center_box bunker"><span class="box-subtitle">BUNKER</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
  </div>
</div>
<div class="levelSelection" ng-if="inGame && map === null">
  <div class="wrapper">
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('silo')" class="center_box silo"><span class="box-subtitle">SILO</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('frigate')" class="center_box frigate"><span class="box-subtitle">FRIGATE</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('surface2')" class="center_box surface2"><span class="box-subtitle">SURFACE 2</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('bunker2')" class="center_box bunker2"><span class="box-subtitle">BUNKER 2</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('statue')" class="center_box statue"><span class="box-subtitle">STATUE</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
  </div>
</div>
<div class="levelSelection" ng-if="inGame && map === null">
  <div class="wrapper">
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('archives')" class="center_box archives"><span class="box-subtitle">ARCHIVES</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('streets')" class="center_box streets"><span class="box-subtitle">STREETS</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="depot" ng-click="go('depot')" class="center_box depot"><span class="box-subtitle">DEPOT</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('train')" class="center_box train"><span class="box-subtitle">TRAIN</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('jungle')" class="center_box jungle"><span class="box-subtitle">JUNGLE</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
  </div>
</div>
<div class="levelSelection" ng-if="inGame && map === null">
  <div class="wrapper">
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('control')" class="center_box control"><span class="box-subtitle">CONTROL</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('caverns')" class="center_box caverns"><span class="box-subtitle">CAVERNS</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="cradle" ng-click="go('cradle')" class="center_box cradle"><span class="box-subtitle">CRADLE</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('aztec')" class="center_box aztec"><span class="box-subtitle">AZTEC</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
    <div class="box">
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
      <div role="button" ng-click="go('egyptian')" class="center_box egyptian"><span class="box-subtitle">EGYPTIAN</span></div>
      <div class="boxes">
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
        <span class="small_box"></span>
      </div>
    </div>
  </div>
</div>
<div class="watch fade" ng-if="!inGame" ng-init="playAudio()">
  <div class="active title" ng-if="menu === 0">G WATCH V2.01 BETA</div>
  <div class="active subtitle" ng-if="menu === 0">MISSION STATUS: <span id="status">INCOMPLETE</span></div>
  <div class="abort active subtitle" ng-keydown="abort()" ng-if="menu === 0"><span class="abortText">Abort Mission</span> </div>
  <div ng-if="menu !== 0" ng-class="menu == 2 ? 'extraTopper' : ''" class="topDawg"></div>
  <img ng-show="menu == 0 || menu == 1" class="mainGun" src="{{weapons[currentWeapon].image}}" ng-class="menu == 1 ? '' : 'notransition'" id="weaponImg"/>
  <div class="active weapon" ng-if="menu == 0">{{weapons[currentWeapon].name}}<p class="weaponMenu"></p></div>
  <ul class="weaponMenu" ng-if="menu == 1">
    <li ng-class="$index == currentWeapon ? 'focus' : ''" ng-repeat="weapon in weapons track by $index">{{weapon.name}}</li>
  </ul>
  <table class="controls" ng-show="menu == 2">
    <tr>
      <td class="leftMouse">fire</td>
      <td class="rightMouse">aim/zoom</td>
    </tr>
    <tr>
      <td class="reload">reload</td>
      <td class="pause">(un)pause</td>
    </tr>
  </table>
  <div ng-if="menu == 3">
    <h2>Objectives:</h2>
    <ol>
      <li>Survive the Russian Zombie Apocalypse!</li>
    </ol>
  </div>
  <div ng-if="menu == 4">
    <h2>About</h2>
    <p>Written by <a href="http://pedrumgolriz.com">Pedrum Golriz</a></p>
  </div>
  <div class="active ammo" ng-show="menu == 0">{{weapons[currentWeapon].loaded}}
    <img class="bullet" src="{{ammo[weapons[currentWeapon].ammoType].image}}"/>
    <span ng-bind-html="weapons[currentWeapon].ammo | trust"></span>
  </div>
  <div class="activebox"></div>
  <audio class="beep">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/57826/scroll.mp3" type="audio/mpeg">
  </audio>
  <div id="sound"></div>
</div>
