<div id="baus">
  <p id="gameTitle">Golden&#43;EYE</p>
  <div class="edition"><span class="gameEdition">Survival Edition</span> <span id="gameSubtitle">007&#42;</span></div>
</div>
<span ng-repeat="chunks in chunkedLevels" ng-if="inGame && map === null">
  <div ng-if="$index%5 || $index === 0" class="levelSelection">
    <h1 class="selectLevel" ng-if="$index === 0">Select Level</h1>
    <div class="wrapper">
      <div class="box" ng-repeat="level in chunks">
        <div class="boxes">
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
        </div>
        <div role="button" ng-click="go(level)" class="center_box {{level}}"><span class="box-subtitle">{{level.toUpperCase()}}</span></div>
        <div class="boxes">
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
          <span class="small_box"></span>
        </div>
      </div>
    </div>
  </div>
</span>
<div class="watch fade" ng-if="!inGame" ng-init="playAudio()">
  <div class="active title" ng-if="menu === 0">G WATCH V2.01 BETA</div>
  <div class="active subtitle" ng-if="menu === 0">MISSION STATUS: <span id="status">INCOMPLETE</span></div>
  <div class="abort active subtitle" ng-keydown="abort($event)" ng-if="menu === 0"><span class="abortText">Abort Mission</span> </div>
  <div ng-if="menu !== 0" ng-class="menu == 2 ? 'extraTopper' : ''" class="topDawg"></div>
  <img ng-show="menu == 0 || menu == 1" class="mainGun" src="{{weapons[currentWeapon].image}}" ng-class="menu == 1 ? '' : 'notransition'" id="weaponImg"/>
  <div class="active weapon" ng-if="menu == 0">{{weapons[currentWeapon].name}}<p class="weaponMenu"></p></div>
  <ul class="weaponMenu" ng-if="menu == 1">
    <li ng-class="$index == currentWeapon ? 'focus' : ''" ng-repeat="weapon in weapons track by $index">{{weapon.name}}</li>
  </ul>
  <table class="controls" ng-show="menu == 2">
    <tr>
      <td class="leftMouse">fire</td>
      <td class="rightMouse">aim/zoom</td>
    </tr>
    <tr>
      <td class="reload">reload</td>
      <td class="pause">(un)pause</td>
    </tr>
  </table>
  <div ng-if="menu == 3">
    <h2>Objectives:</h2>
    <ol>
      <li>Survive the Russian Zombie Apocalypse!</li>
    </ol>
  </div>
  <div ng-if="menu == 4">
    <h2>About</h2>
    <p>Written by <a href="http://pedrumgolriz.com">Pedrum Golriz</a></p>
  </div>
  <div class="active ammo" ng-show="menu == 0">{{weapons[currentWeapon].loaded}}
    <img class="bullet" src="{{ammo[weapons[currentWeapon].ammoType].image}}"/>
    <span ng-bind-html="weapons[currentWeapon].ammo | trust"></span>
  </div>
  <div class="activebox"></div>
  <audio class="beep">
    <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/57826/scroll.mp3" type="audio/mpeg">
  </audio>
  <div id="sound"></div>
</div>
